{% extends "base.html.twig" %}
{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">Restaurant</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#">
							Main Page
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							LogOut
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block main %}

<div class="d-flex justify-content-center align-items-center flex-column" style="height:94vh">
<div class="d-flex align-items-start w-50">
<p class="text-white h3">Orders:</p>
</div>
<table class="table table-dark w-50">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td><a href="#" class="link-light">Show Details</a></td>
    </tr>
  </tbody>
</table>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Page
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">1</a></li>
    <li><a class="dropdown-item" href="#">2</a></li>
    <li><a class="dropdown-item" href="#">3</a></li>
  </ul>
</div>



</div>

{% endblock %}