{% extends "base.html.twig" %}
{% block title %}Summary
{% endblock %}


{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand">Restaurant</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('mainPage')}}">
							Main page
						</a>
					</li>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Admin login</a>
				</li>
			</ul>
		</div>
	</div>
</nav>{% endblock %}{% block main %}
    <div class="d-block" style="height:60vh">
    <div class="d-flex justify-content-center align-items-center h-100 flex-column">
	<table class="table table-dark" style="width:auto">
		<thead>
			<tr>
				<th scope="col" class="text-center" style="min-width:10rem">#</th>
				<th scope="col" class="text-center" style="min-width:10rem">Dish</th>
				<th scope="col"  class="text-center"style="min-width:10rem">Size</th>
				<th scope="col" class="text-center" style="min-width:10rem">Quantity</th>
				<th scope="col" class="text-center" style="min-width:10rem">Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" class="text-center">1</th>
				<td class="text-center">Dish#1</td>
				<td class="text-center">Medium</td>
				<td class="text-center">1</td>
				<td class="text-center">21.37</td>
			</tr>
			<tr>
				<th scope="row" class="text-center">1</th>
				<td class="text-center">Dish#1</td>
				<td class="text-center">Medium</td>
				<td class="text-center">1</td>
				<td class="text-center">21.37</td>
			</tr>
			<tr>
				<th scope="row" class="text-center">1</th>
				<td class="text-center">Dish#1</td>
				<td class="text-center">Medium</td>
				<td class="text-center">1</td>
				<td class="text-center">21.37</td>
			</tr>
            <tr>
            <th scope="row" class="text-center">Total:</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">21.37</td>
            </tr>

		</tbody>
	</table>
        <div class="d-flex justify-content-between" style="width:43%">
    <button type="button" class="btn btn-danger">Cancel Order</button>
    <button type="button" class="btn btn-success">Place Order</button>
    </div>
    </div>
    </div>
    {% endblock %}
