<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{encore_entry_link_tags('app')}}
			<!-- Renders a link tag (if your module requires any CSS)
																																																																											                 <link rel="stylesheet" href="/build/app.css"> -->
		{% endblock %}

		{% block javascripts %}
			{{encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="cover">
			{% block header %}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<a class="navbar-brand">Restaurant</a>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('order')}}">
										Place Order
									</a>
								</li>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('admin_login')}}">Admin login</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>


		{% endblock %}
		{% block main %}{% endblock %}


	</body>
</html>
